

// 100px and up 
@media screen and (min-width: 100px) {

.home-hero {
    &__container {
        
        
        height: 80vh;
          
        padding-top: 10%;
        position: relative;
    }
    &__content {
        color: $color-grey-1; 
    }
    &__mask {
        position: absolute;
        height: 100vh;
        mask-image: url(/hero-elip-1.svg);
        mask-mode: alpha;
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        
        background: $color-gradient-one;     
        height: 1000px;
        width: 1000px;
        top: 0px;
        left: 0px;
        z-index: -2;
          animation: orbit 10s infinite alternate;
    }
}
 .home-section {
     min-height: 800px;
     margin-top: 6rem;
     &.product {
         
         display: flex;
         position: relative;
        // background: $color-gradient-one;
        color: $color-dark;
     
     }
 }
 .product  {
     &__image {
         width: 800px;
     }
     &__content {
        border-radius: 50px;
        padding: 2rem;
        background-color: $color-sec-1;
    }
  
 }


.resource {
    &__header {

    padding: 2rem;
    background: #FFF1E3;
    border-radius: 50px;

    }
    &__card {
        // cursor: pointer;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 30px;
        background-color: $color-pri-1;
        // background: $color-gradient-one;    
        
        color: $color-grey-1;
        margin-right: 1rem;
        &:nth-of-type(n) {
            svg {
                fill: $color-grey-8;
                margin: auto;
            }    
        }
        &:first-of-type {
            svg {
                stroke: $color-grey-8;
                fill: none;
            }
            
        }
        
    }
    &__icon {
        margin: auto;
        margin-top: 1rem;
        margin-bottom:  1rem;
        font-size: 5rem;
        background-color: $color-sec-1;
        border-radius: 100%;
        padding: 1rem;
        height: 120px;
        width: 120px;
        // display: grid;
        // place-items: center;
    }
}

    .home-hero {
        &__cta {
            max-width: 50%;
            display: flex;
            flex-direction: column;
        
        }
    }
}

// 700px and up
@media screen and (min-width: $media-small) {

.home-hero {
    &__container {
        height: 80vh;
        padding-top: 10%;
        position: relative;
    }
    &__content {
        color: $color-grey-1; 
    }
    &__mask {
        position: absolute;
        mask-image: url(/hero-elip-1.svg);
        mask-mode: alpha;
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        height: 100%;
        background: $color-gradient-one;     
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -2;
      
    }
}
.product{
    &__content {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 50%;
        background-color: $color-sec-1;
    }
    .section {
        &__content {
            color: $color-dark;
        }
    }
    &__image {
        width: 90vw;
    }
}
.resource-links {
    &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;       
    }
}


}

// 960px 
@media screen and (min-width: $media-med) {
    .home-hero {
        &__cta {
            display: flex;
            flex-direction: row;
        
        }
    }
    .product {
        &__image {
            width: 90vw;
            margin: auto;
        }
    }
}

@media screen and (min-width: $media-large) {
    .product {
        &__image {
            width: 60vw;
            margin: auto;
        }
    }
}

@media screen and (min-width: $media-xlarge) {}



@keyframes orbit {
	from{
		transform: translate(0px, 0px) scale(1.00);
		animation-timing-function: ease-in-out;
	}
	// 25% {
    //     transform: translate(20px, 8px) scale(1.03);
        
	// 	animation-timing-function: linear;
    // }
    // 50%  {
    //     transform: translate(15px, 10px) scale(1.08);
	// 	animation-timing-function: linear;
    // }
	to {
		transform: translate(0px, -100px) scale(1.03);
		animation-timing-function: ease-in-out;
	}
}
